<section class="main-section">
    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <div class="main-list">
                    <div class="d-flex justify-content-between">
                        <p>{{rewardPrograms.name}}</p>
                        <div class="d-flex gap-2 justify-content-center py-1">
                            <span class="badge text-bg-primary rounded-pill">{{rewardPrograms.points}}</span>
                            <span class="badge rounded-pill" [ngClass]="checkCostByTypeRewardProgram()">CPM: R$ {{rewardPrograms.cost}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
