<section class="main-section">
    <div class="container">
        <div class="row">
            <div class="col col-md-12" *ngFor="let rewardPrograms of listRewardPrograms">
                <div class="main-list">
                    <div class="d-flex justify-content-between align-items-center">
                        <p>{{rewardPrograms.name}}</p>
                        <div class="py-1">
                            <div class="d-inline opacity-50" [ngClass]="checkStatusRewardProgram()">
                                <span class="badge text-bg-primary rounded-pill">{{rewardPrograms.points}}</span>
                                <span class="badge text-bg-info rounded-pill mx-2">R$ {{rewardPrograms.cost}}</span>
                                <span class="badge rounded-pill"  [ngClass]="checkCostByTypeRewardProgram()">CPM: R$ {{rewardPrograms.cost}}</span>
                            </div>
                            <div class="ms-5 d-inline">
                                <button type="button" class="btn btn-secondary">Info                                
                                    <span class="material-symbols-outlined">
                                    info
                                    </span>
                                </button>
                                <button type="button" class="btn btn-link ms-3 disabled">Excluir</button>
                                <button type="button" class="btn btn-link mx-2 disabled">Histórico</button>
                                <button type="button" class="btn btn-outline-primary mx-2 disabled">Editar</button>
                                <button type="button" class="btn btn-primary">Adicionar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
