<footer>
    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="footer-info d-flex align-items-center">
                        <span class="material-symbols-outlined">
                            trending_up
                        </span>
                        <div class="ms-2">
                            <p>cpm mais alto:</p>
                            <h2>R$ 23,00</h2>
                            <p><b>Smiles</b></p>
                        </div>
                    </div>
                    <div class="footer-info d-flex align-items-center">
                        <span class="material-symbols-outlined">
                            trending_down
                        </span>
                        <div class="ms-2">
                            <p>cpm mais baixo:</p>
                            <h2>R$ 13,00</h2>
                            <p><b>Azul Fidelidade</b></p>
                        </div>
                    </div>
                    <div class="footer-info d-flex align-items-center">
                        <span class="material-symbols-outlined">
                            paid
                        </span>
                        <div class="ms-2">
                            <p>total investido:</p>
                            <h2>R$ 10.300,00</h2>
                            <p><b>em 4 programas de fidelidade</b></p>
                        </div>
                    </div>
                    <div class="footer-info d-flex align-items-center">
                        <span class="material-symbols-outlined">
                            travel
                        </span>
                        <div class="ms-2">
                            <p>total de pontos/milhas:</p>
                            <h2>1.125.000</h2>
                            <p><b>em 4 programas de fidelidade</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>