footer{
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 3rem;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

footer h2{
    font-size: var(--size-lg);
}