footer{
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 3rem;
}

footer h2{
    font-size: var(--size-lg);
    margin-bottom: 0;
}

footer .footer-info span{
   font-size: var(--size-xxxl);
   background-color: var(--color-white);
   color: var(--color-primary);
   border-radius: 10px;
   padding: .8rem;
}