<header class="container">
    <nav class="d-flex align-items-center justify-content-between h-100">
        <div>
            <img src="assets/images/logo-mdm.png" class="logo-1" alt="Logo">
        </div>
        <div class="cabecalho__pesquisar__item">
            <form class="form__pesquisa">
                <input type="search" class="pesquisar__input" placeholder="Pesquisar">
                <!-- <img src="./img/topbar/keyboard.png" alt="Ícone de teclado" class="pesquisar__input-teclado"> -->
                <button class="pesquisar__btn">
                    <span class="material-symbols-outlined">search</span>
                    <!-- <img src="./img/topbar/search.png" alt="ícone de lupa"> -->
                </button>
            </form>
        </div>
        <div>
            <img src="assets/images/logo-lookmilhas.png" class="logo-2" alt="Logo">
        </div>
    </nav>
</header>